VITE_SUPABASE_URL=https://jdorirvvavajeqhedkhc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impkb3JpcnZ2YXZhamVxaGVka2hjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1ODEwMDMsImV4cCI6MjEwMzE1NzAwM30.e13XpEesVKd5QhUWv7H5z5L8jvJCt1UESiYh-hMRPcQ
